.about {
    max-width:100%;
    background-color: rgb(254, 218, 161);
    padding-top:70px;
    padding-inline: 25px;
    overflow: hidden;
    text-align: justify;
    color:  rgb(114, 73, 6);
}
.about h1 {
    font-weight: 800;
    font-size:48px;
    text-align: center;
}
.horizontal_line {
    width: 75%;
    margin-top: 15px;
    margin: 10px auto;
    background-color: rgb(137, 47, 2);
    height: 4px;
    align-self: center;
}