.about {
    width:100%;
    min-height: 100vh;
    overflow-x: hidden;
    backdrop-filter: blur(2px);
    background-color: rgb(0,0,0,0.3);
    color:white;
    text-shadow: 0px 3px 3px #000;
    font-family: 'Signika Negative', sans-serif;
}
.about h1 {
    font-weight: 800;
    font-size:48px;
    text-align: center;
}
.aboutContent {
    display: flex;
    flex-direction: column;
}
.aboutText {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 90%;
    padding:20px;
    height:100%;
}
.grillClasses {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    margin: 0 10px;
    padding:40px;
    
}
.grillClass {
    width: 100%;
    border: 2px solid rgb(255,255,255,0.7);
    border-radius: 20px;
    padding:20px;
    margin: 20px;
    background-color: rgb(0,0,0,0.3);
}
.grillClass > h2 {
    margin: 10px auto;
}
.grillClass > p {
    font-size: 18px;
}
.texts h2 {
    border: 2px solid rgb(255,255,255,0.4);
    border-radius: 20px;
    padding: 30px;
    margin:20px auto;
    background-color: rgb(0,0,0,0.3);
}
h2:first-child {
    top:0;
}
h2:last-child {
    bottom:0;
}
.image {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: relative;
    width:100%;
    min-width: 500px;
    height: 100%;
}
.image img {
    width: 80%;
    height: 80%;
    margin:20px;
    object-fit: contain;
}

@media screen and (max-width: 1280px) {
    .aboutText {
        flex-direction: column;
    }
    .image img {
        padding:0 20px;
    }
    .grillClasses {
        flex-direction: column;
        align-items: center;
    }
}