
.gallery {
  min-height: calc(100vh - 70px);
  background-color: rgb(254, 218, 161);
}
.carousel{
  height: 650px;
  overflow-x: scroll;
  display: flex;
  padding: 0 15px;
  grid-template-columns: repeat(6, 400px);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
  scroll-behavior: smooth;
  scrollbar-color: rgb(114, 73, 6) rgb(254, 218, 161);
  scrollbar-width: thin;
}

