
.gallery {
  height: calc(100vh - 70px);
  width: 100%;
  background-color: rgb(254, 218, 161);
}
.carousel{
  height: 70%;
  background-color: red;
  padding: 20px 0;
  overflow-wrap: normal;
  display: flex;
  overflow-x: scroll;
}

