.navbar{
  width:100%;
  height:70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  color: black;
  font-family:fantasy;
  position: sticky;
  top: 0;
  
}
.navbarInfo{
  display: flex;
  align-items: center;
  margin: auto 20px;
}
.brand {
  font-size: x-large;
}

.navbarlinks{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  background-color: bisque;
  
}
.navbarlinks li{
  list-style: none;
 
}
.navbarlinks li a{
  text-decoration: none;
  padding:1rem;
  color: black;
  display: block;
}
.navbarlinks li:hover{
  background-color: burlywood;
}

.toggleBtn{
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggleBtn .bar{
  height: 3px;
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}
@media (max-width: 600px){
  .toggleBtn{
    display: flex;
  }
  .navbarlinks{
    display: none;
  }
  .navbarInfo{
    padding:.5rem 0 ;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbarlinks{
    width: 100%;
    flex-direction: column;
  }
  .navbarlinks li{
    padding: 0;
    text-align: center;
    border-top: 1px solid rgb(114, 73, 6, 0.2);
  }
  .navbarlinks li a{
    width: 100%;
    padding:1.5rem 0;
  }
  .expanded {
    display: flex;
  }
  
}