* {
  margin:0;
  padding:0;
}

html {
  box-sizing: border-box;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  background-image: url('./Assets/mainImage.jpg');
  background-size:cover;
  background-position-x: center;
  background-position-y: -90px;
  background-repeat: no-repeat;
  position:sticky;
  top:0;
}
@media (max-width:1200px){
  body{
    background-position-y: center;

  }
}